<a class="navbar-brand" target="_blank" href="https://positivedeviance.org/" xlink:href="https://positivedeviance.org/">
    <object href="https://positivedeviance.org/" style="pointer-events: none; max-height:60px; width="auto" data="https://static1.squarespace.com/static/5a1eeb26fe54ef288246a688/t/5cb21c61eef1a1633f5d8cf9/1555176547509/PD+Logo+1a-+Banner.svg" type="image/svg+xml"></object>
</a>